

// cards
.Grenaa-pics{
  width:100px;
  height:80px;
}
//cards

//adresse
.adresse{
  width: 30%;
  height: 180px;
  margin: auto;
  background-color: $greyWhite;
  padding: 10px;
  text-align: center;
  .butten-area{
      background-color: white;
      width: 150px;
      height: 50px;
      font-weight: bold;
      border: 1px $waterblue solid;
      position: relative;
  }
}


 //area cards  
  .Marina{
    width: 20%;
    background-color: $greyWhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 20px auto;
}
    .small-line-break{
      width: 5%;
      border: 1px solid $waterblue;
  }
 //area cards  

//footer
.sup-footer{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-start;
width: 100%;
height: 150px;
}
//mobile
@media(max-width: 736px){
.sup-footer{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-start;
width: 100%;
height: 390px;
}
//footer
.adresse{
  width: 90%;
  height: 200px;
  margin: auto;
  background-color: $greyWhite;
  padding: 10px;
  .butten-area{
      background-color: white;
      width: 150px;
      height: 50px;
      font-weight: bold;
      border: 1px $waterblue solid;
      
  }
}

.Marina{
  width: 90%;
  background-color: $greyWhite;
  display: flex;
  margin: 20px auto;
}

.small-line-break{
  width: 10%;
  border: 1px solid $waterblue;
}

}


//tablet
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .Marina{
    width: 40%;
    background-color: $greyWhite;
    display: flex;
    margin: 20px auto;
  }

  .sup-footer{
    display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 200px;
  }
 
  .adresse{
    width: 49%;
    height: 180px;
    margin: auto;
    background-color: $greyWhite;
    padding: 10px;
    .butten-area{
        background-color: white;
        width: 150px;
        height: 50px;
        font-weight: bold;
        border: 1px $waterblue solid;
    }
  }

}

