
//Variables

$offWhite: #f8f9fb;
$greyWhite:#eef2f7;
$greysand: #dedcda;
$lightblue:#effaff;
$waterblue: #008dd6;
$semiDarkblue: rgb(54, 74, 112);
$darkblue: #291e5b;
$paintBlack:#0f0f0f;
$deepgrey:#444;


@font-face{
    font-family: Pacifico 'Fredoka One', cursive;;
    @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Pacifico&display=swap');
  }
  @font-face{
    font-family: Pacifico;
    @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
  }






